@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0.2rem;
  height: 0rem;
}

::-webkit-scrollbar-track {
  background: #100f0f;
}

::-webkit-scrollbar-thumb {
  background: #02e4e6;
  border-radius: 1rem;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  margin-left: 0.4em;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
  cursor: pointer;
}

@media (min-width: 640px) {
  ::-webkit-scrollbar {
    height: 0.2rem;
  }
}
