
#volBar {
  padding: 0;
  margin: 0;
  width: 4rem;
  background: transparent;
}

#volBar::-moz-range-thumb {
  height: 10px;
  width: 3px;
  background: #02E4E6;
  color:#02E4E6;
  border-radius: 5px;
  cursor: pointer;
}



.progressb {
display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    flex: 1;
}
.songMeta{
  width: 25vw;
}
.songmeta_playlist{
  flex: 1;
  display: flex;
  flex-direction: column;
}

#prgbar {
  background: transparent;
  width: 100%;
} 
